<!-- KaTeX CSS -->
<link rel="stylesheet" href="/libs/katex/katex.min.v0.16.9.css">

<!-- KaTeX JS -->
<script defer src="/libs/katex/katex.min.v0.16.9.js"></script>

<!-- KaTeX auto-render extension -->
<script defer src="/libs/katex/auto-render.v0.16.9.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    renderMathInElement(document.body, {
      // A list of delimiters to look for.
      delimiters: [
        {left: '$$', right: '$$', display: true},
        {left: '\\[', right: '\\]', display: true},
        {left: '\\(', right: '\\)', display: false},
        {left: '$', right: '$', display: false}
      ],
      // Custom behavior for errors
      throwOnError: false
    });
  });
</script>
